@media screen and (max-width:1024px){

    body {
        width: 100%;
        margin: 0;
    }

    main{
        width: 90%;
        margin: 0 5%;
        text-align: center;
    }

    header{
        width: 100%;
    }

    header ul{
        margin-top: 0;
    }

    header a img{
        height: 8em;
        width: 10em;
    }

    aside, section, #coordonees, #contact {
        float: none;
        width: 96%;
        background-color: #000000a1;
    }

    aside img{
        position:static;
    }

    section article p{
        float: none;
        width: 100%;
        margin: 1%;
    }


    .image-galerie {
        min-width: 320px;
        min-height: 270px;
        
    } 

    
}



@media screen and (max-width:448px){
    
    header a img{
        height: 10em;
        width: 10em;
    }
}